In [54]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

In [55]:
#Grab the Team URLs
teams = soup.find_all(attrs={"data-stat": "squad"})
for team in teams:
    x = team.find('a')
    print(x)

None
<a href="/en/squads/822bd0ba/Liverpool">Liverpool</a>
<a href="/en/squads/b8fd03ef/Manchester-City">Manchester City</a>
<a href="/en/squads/a2d435b3/Leicester-City">Leicester City</a>
<a href="/en/squads/cff3d9bb/Chelsea">Chelsea</a>
<a href="/en/squads/19538871/Manchester-United">Manchester Utd</a>
<a href="/en/squads/361ca564/Tottenham-Hotspur">Tottenham</a>
<a href="/en/squads/8cec06e1/Wolverhampton-Wanderers">Wolves</a>
<a href="/en/squads/1df6b87e/Sheffield-United">Sheffield Utd</a>
<a href="/en/squads/33c895d4/Southampton">Southampton</a>
<a href="/en/squads/18bb7c10/Arsenal">Arsenal</a>
<a href="/en/squads/47c64c55/Crystal-Palace">Crystal Palace</a>
<a href="/en/squads/d3fd31cc/Everton">Everton</a>
<a href="/en/squads/943e8050/Burnley">Burnley</a>
<a href="/en/squads/b2b47a98/Newcastle-United">Newcastle Utd</a>
<a href="/en/squads/d07537b9/Brighton--Hove-Albion">Brighton</a>
<a href="/en/squads/8602292d/Aston-Villa">Aston Villa</a>
<a href="/en/squads/7c21e445/West-Ham-United">West Ham</a>
<a href="/en/squads/4ba7cbea/Bournemouth">Bournemouth</a>
<a href="/en/squads/2abfe087/Watford">Watford</a>
<a href="/en/squads/1c781004/Norwich-City">Norwich City</a>
None
<a href="/en/squads/822bd0ba/Liverpool">Liverpool</a>
<a href="/en/squads/b8fd03ef/Manchester-City">Manchester City</a>
<a href="/en/squads/a2d435b3/Leicester-City">Leicester City</a>
<a href="/en/squads/cff3d9bb/Chelsea">Chelsea</a>
<a href="/en/squads/19538871/Manchester-United">Manchester Utd</a>
<a href="/en/squads/361ca564/Tottenham-Hotspur">Tottenham</a>
<a href="/en/squads/8cec06e1/Wolverhampton-Wanderers">Wolves</a>
<a href="/en/squads/1df6b87e/Sheffield-United">Sheffield Utd</a>
<a href="/en/squads/33c895d4/Southampton">Southampton</a>
<a href="/en/squads/18bb7c10/Arsenal">Arsenal</a>
<a href="/en/squads/47c64c55/Crystal-Palace">Crystal Palace</a>
<a href="/en/squads/d3fd31cc/Everton">Everton</a>
<a href="/en/squads/943e8050/Burnley">Burnley</a>
<a href="/en/squads/b2b47a98/Newcastle-United">Newcastle Utd</a>
<a href="/en/squads/d07537b9/Brighton--Hove-Albion">Brighton</a>
<a href="/en/squads/8602292d/Aston-Villa">Aston Villa</a>
<a href="/en/squads/7c21e445/West-Ham-United">West Ham</a>
<a href="/en/squads/4ba7cbea/Bournemouth">Bournemouth</a>
<a href="/en/squads/2abfe087/Watford">Watford</a>
<a href="/en/squads/1c781004/Norwich-City">Norwich City</a>

In [56]:
#Read team table direcly into dataframe
d_list = pd.DataFrame()
team_list=["https://fbref.com/en/squads/822bd0ba/Liverpool",
           "https://fbref.com/en/squads/b8fd03ef/Manchester-City",
           "https://fbref.com/en/squads/a2d435b3/Leicester-City",
          "https://fbref.com/en/squads/cff3d9bb/Chelsea",
          "https://fbref.com/en/squads/19538871/Manchester-United",
           "https://fbref.com/en/squads/361ca564/Tottenham-Hotspur",
           "https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers",
           "https://fbref.com/en/squads/1df6b87e/Sheffield-United",
           "https://fbref.com/en/squads/33c895d4/Southampton",
           "https://fbref.com/en/squads/18bb7c10/Arsenal",
           "https://fbref.com/en/squads/47c64c55/Crystal-Palace",
           "https://fbref.com/en/squads/d3fd31cc/Everton",
           "https://fbref.com/en/squads/943e8050/Burnley",
           "https://fbref.com/en/squads/b2b47a98/Newcastle-United",
           "https://fbref.com/en/squads/d07537b9/Brighton--Hove-Albion",
           "https://fbref.com/en/squads/8602292d/Aston-Villa", 
           "https://fbref.com/en/squads/7c21e445/West-Ham-United", 
           "https://fbref.com/en/squads/4ba7cbea/Bournemouth",
           "https://fbref.com/en/squads/2abfe087/Watford", 
           "https://fbref.com/en/squads/1c781004/Norwich-City"]
for team in team_list:
    dfs = pd.read_html(team,header=1)
    d_list = d_list.append(dfs[0])
d_list.head(100)

,Player,Nation,Pos,Age,MP,Starts,Min,Gls,Ast,PK,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,Virgil van Dijk,nl NED,DF,28.0,23,23,2070.0,4.0,0.0,0.0,...,0.17,1.4,1.4,0.5,0.06,0.02,0.08,0.06,0.08,Matches
1,Trent Alexander-Arnold,eng ENG,DF,20.0,23,22,2023.0,2.0,10.0,0.0,...,0.53,1.8,1.8,7.1,0.08,0.32,0.40,0.08,0.40,Matches
2,Andrew Robertson,sco SCO,DF,25.0,23,22,1995.0,1.0,6.0,0.0,...,0.32,0.9,0.9,4.9,0.04,0.22,0.26,0.04,0.26,Matches
3,Georginio Wijnaldum,nl NED,MF,28.0,22,22,1860.0,2.0,0.0,0.0,...,0.10,1.5,1.5,0.9,0.07,0.04,0.12,0.07,0.12,Matches
4,Roberto Firmino,br BRA,"FW,MF",27.0,23,21,1893.0,8.0,4.0,0.0,...,0.57,8.9,8.9,4.1,0.42,0.19,0.62,0.42,0.62,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,Olivier Giroud,fr FRA,FW,32.0,5,2,191.0,0.0,0.0,0.0,...,0.00,0.6,0.6,0.5,0.29,0.25,0.54,0.29,0.54,Matches
20,Michy Batshuayi,be BEL,FW,25.0,14,0,139.0,1.0,1.0,0.0,...,1.29,1.9,1.9,0.2,1.23,0.11,1.33,1.23,1.33,Matches
21,Tariq Lamptey,eng ENG,MF,18.0,1,0,31.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.1,0.00,0.39,0.39,0.00,0.39,Matches
22,Billy Gilmour,sco SCO,MF,18.0,2,0,9.0,0.0,0.0,0.0,...,0.00,0.0,0.0,0.1,0.00,0.57,0.57,0.00,0.57,Matches
23,Willy Caballero,ar ARG,GK,37.0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches

In [57]:
#Rename columns to remove special characters and better formatting
d_list.rename(columns={'Player': 'long_name', 'Nation': 'nationality', 'Pos': 'team_position', 'Age': 'age', 'MP': 'ptime_matches_played',
                  'Starts': 'ptime_starts', 'Min': 'ptime_min', 'Gls': 'perf_goals', 'Ast': 'perf_assists', 'PK': 'perf_pks',
                  'PKatt': 'perf_pkatt', 'CrdY': 'perf_crd_y', 'CrdR': 'perf_crd_r', 'Gls.1': 'per_90_goals', 'Ast.1': 'per_90_assts',
                  'G+A': 'per_90_ga', 'G-PK': 'per_90_g_pk', 'G+A-PK': 'per_90_g_a_pk', 'xG': 'exp_goals', 'npxG': 'exp_np_exp_goals',
                  'xA': 'exp_assists', 'xG.1': 'per_90_exp_goals', 'xA.1': 'per_90_exp_assists', 'xG+xA': 'per_90_exp_goals_exp_assists',
                   'npxG.1': 'per_90_exp_np_exp_goals', 'npxG+xA': 'per_90_exp_np_exp_goals_assists'}, inplace=True)

In [58]:
df_player_perf = d_list[{'ptime_matches_played','ptime_starts', 'ptime_min', 'perf_goals', 'perf_assists', 'perf_pks', 'perf_pkatt',
 'perf_crd_y', 'perf_crd_r', 'per_90_goals', 'per_90_assts', 'per_90_ga', 'per_90_g_pk', 'per_90_g_a_pk', 'exp_goals', 'exp_np_exp_goals', 'exp_assists',
                      'per_90_exp_goals', 'per_90_exp_assists', 'per_90_exp_goals_exp_assists', 'per_90_exp_np_exp_goals', 'per_90_exp_np_exp_goals_assists'}]
df_player_perf.head()

,exp_goals,per_90_exp_goals_exp_assists,per_90_exp_goals,per_90_goals,exp_np_exp_goals,per_90_assts,perf_pkatt,per_90_g_a_pk,per_90_exp_assists,per_90_exp_np_exp_goals,...,per_90_exp_np_exp_goals_assists,per_90_ga,perf_goals,perf_assists,perf_crd_y,ptime_min,perf_pks,exp_assists,perf_crd_r,per_90_g_pk
0,1.4,0.08,0.06,0.17,1.4,0.00,0.0,0.17,0.02,0.06,...,0.08,0.17,4.0,0.0,1.0,2070.0,0.0,0.5,0.0,0.17
1,1.8,0.40,0.08,0.09,1.8,0.44,0.0,0.53,0.32,0.08,...,0.40,0.53,2.0,10.0,4.0,2023.0,0.0,7.1,0.0,0.09
2,0.9,0.26,0.04,0.05,0.9,0.27,0.0,0.32,0.22,0.04,...,0.26,0.32,1.0,6.0,1.0,1995.0,0.0,4.9,0.0,0.05
3,1.5,0.12,0.07,0.10,1.5,0.00,0.0,0.10,0.04,0.07,...,0.12,0.10,2.0,0.0,0.0,1860.0,0.0,0.9,0.0,0.10
4,8.9,0.62,0.42,0.38,8.9,0.19,0.0,0.57,0.19,0.42,...,0.62,0.57,8.0,4.0,0.0,1893.0,0.0,4.1,0.0,0.38

# Create DB Connection

In [59]:
#modify connection string using local database id and password 
connection_string = "postgres:{Password}@localhost:5432/fifa_db"
engine = create_engine(f'postgresql://{connection_string}')

In [60]:
df_player_perf.to_sql(name='player_perf', con=engine, if_exists='replace', index=False)

In [61]:
#confirm country table
pd.read_sql_query('select * from player_perf', con=engine).head()

,exp_goals,per_90_exp_goals_exp_assists,per_90_exp_goals,per_90_goals,exp_np_exp_goals,per_90_assts,perf_pkatt,per_90_g_a_pk,per_90_exp_assists,per_90_exp_np_exp_goals,...,per_90_exp_np_exp_goals_assists,per_90_ga,perf_goals,perf_assists,perf_crd_y,ptime_min,perf_pks,exp_assists,perf_crd_r,per_90_g_pk
0,1.4,0.08,0.06,0.17,1.4,0.00,0.0,0.17,0.02,0.06,...,0.08,0.17,4.0,0.0,1.0,2070.0,0.0,0.5,0.0,0.17
1,1.8,0.40,0.08,0.09,1.8,0.44,0.0,0.53,0.32,0.08,...,0.40,0.53,2.0,10.0,4.0,2023.0,0.0,7.1,0.0,0.09
2,0.9,0.26,0.04,0.05,0.9,0.27,0.0,0.32,0.22,0.04,...,0.26,0.32,1.0,6.0,1.0,1995.0,0.0,4.9,0.0,0.05
3,1.5,0.12,0.07,0.10,1.5,0.00,0.0,0.10,0.04,0.07,...,0.12,0.10,2.0,0.0,0.0,1860.0,0.0,0.9,0.0,0.10
4,8.9,0.62,0.42,0.38,8.9,0.19,0.0,0.57,0.19,0.42,...,0.62,0.57,8.0,4.0,0.0,1893.0,0.0,4.1,0.0,0.38