In [1]:
%matplotlib notebook

In [2]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')
import csv

In [3]:
players20_data = "Resources/players_20.csv"

In [4]:
players20_datadf = pd.read_csv(players20_data, header=0)

In [5]:
New_players20_data= players20_datadf[["short_name","long_name", "nationality", "age", "dob",
                                      "height_in","weight_lb", "club" ]]
New_players20_data

,short_name,long_name,nationality,age,dob,height_in,weight_lb,club
0,L. Messi,Lionel Andrés Messi Cuccittini,Argentina,32,6/24/1987,66.93,158.4,FC Barcelona
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,Portugal,34,2/5/1985,73.62,182.6,Juventus
2,Neymar Jr,Neymar da Silva Santos Junior,Brazil,27,2/5/1992,68.90,149.6,Paris Saint-Germain
3,J. Oblak,Jan Oblak,Slovenia,26,1/7/1993,74.02,191.4,Atlético Madrid
4,E. Hazard,Eden Hazard,Belgium,28,1/7/1991,68.90,162.8,Real Madrid
...,...,...,...,...,...,...,...,...
18273,Shao Shuai,邵帅,China PR,22,3/10/1997,73.23,173.8,Beijing Renhe FC
18274,Xiao Mingjie,Mingjie Xiao,China PR,22,1/1/1997,69.68,145.2,Shanghai SIPG FC
18275,Zhang Wei,张威,China PR,19,5/16/2000,73.23,165.0,Hebei China Fortune FC
18276,Wang Haijian,汪海健,China PR,18,8/2/2000,72.83,162.8,Shanghai Greenland Shenhua FC
18277,Pan Ximing,潘喜明,China PR,26,1/11/1993,71.65,171.6,Hebei China Fortune FC

In [42]:
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})-Rename Columns
#New_players20_dataC= New_players20_data.rename(columns={"short_name": "Alias","long_name": "Name", 
                                                      #  "nationality": "Nationality", "age": "Age", "dob": "DOB",
                                      #"height_in": "Height","weight_lb": "Weight", "club": "Club"})
#New_players20_dataC

,Alias,Name,Nationality,Age,DOB,Height,Weight,Club
0,L. Messi,Lionel Andrés Messi Cuccittini,Argentina,32,6/24/1987,66.93,158.4,FC Barcelona
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,Portugal,34,2/5/1985,73.62,182.6,Juventus
2,Neymar Jr,Neymar da Silva Santos Junior,Brazil,27,2/5/1992,68.90,149.6,Paris Saint-Germain
3,J. Oblak,Jan Oblak,Slovenia,26,1/7/1993,74.02,191.4,Atlético Madrid
4,E. Hazard,Eden Hazard,Belgium,28,1/7/1991,68.90,162.8,Real Madrid
...,...,...,...,...,...,...,...,...
18273,Shao Shuai,邵帅,China PR,22,3/10/1997,73.23,173.8,Beijing Renhe FC
18274,Xiao Mingjie,Mingjie Xiao,China PR,22,1/1/1997,69.68,145.2,Shanghai SIPG FC
18275,Zhang Wei,张威,China PR,19,5/16/2000,73.23,165.0,Hebei China Fortune FC
18276,Wang Haijian,汪海健,China PR,18,8/2/2000,72.83,162.8,Shanghai Greenland Shenhua FC
18277,Pan Ximing,潘喜明,China PR,26,1/11/1993,71.65,171.6,Hebei China Fortune FC

In [46]:
#New_players20_dataC.to_csv("Resources/New_Player20.csv")